# Local only

# Build context
ADDITIONAL_PIP_PACKAGES='pytest'
REPO='testruction/mvc-flask-dash'
TAG='1.0.0'
BUILD_ID='6b4b1ecb'

# Runtime context
POSTGRES_USER='mvcflaskdash'
POSTGRES_PASSWORD='V3ry1ns3cur3P4ssw0rd'
POSTGRES_DB='default'
