{% extends "layout.html.j2" %}

{% block content %}
<div class="card">
  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/MVC-Process.svg" class="logo" width=50% />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">Démonstrateur d'intégration MVC de Plotly Dash dans Flask (Source disponible sur <a href="https://github.com/fjudith/mvc-flask-dash">GitHub</a>).</p>
</div>
{% endblock %}