{% extends "layout.html.j2" %}

{% block content %}
<div>
<iframe 
      style='position: absolute; background: transparent; width: 100%; height:100%;'
      src='{{ dash_url }}'
      frameborder="0">
</iframe>
</div>
{% endblock %}